body {
    background-color: rgb(165, 235, 235);
}

.camera {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.header h1.logo {
    background-color: #f1f1f1;
    padding: 20px 20px;
    font-size: 35px;
    font-weight: bold;
  }
  

footer {
    background-color: beige;
    color: black;
    font-size: 15px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 10px;
}
